{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

     <link rel="shortcut icon" type="image/x-icon" href="{{ url('theme://images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url('theme://images/favicon.ico') }}"/>
    <link rel="canonical" href="{{ page.url(
    true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://fonts.googleapis.com/icon?family=Material+Icons') %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900') %}
        {% do assets.addCss('theme://css/css/normalize.css') %}
        {% do assets.addCss('theme://css/css/materialize.css') %}
        {% do assets.addCss('theme://css/css/main.css') %}
    {% endblock %}
    {{ assets.css() }}


{% endblock head %}
</head>
  {% block content %}{% endblock %}

    <img class="responsive-tri" src="{{ url('theme://images/triangles.png') }}">
  <footer class="page-footer"></footer>




 {% block javascripts %}
        {% do assets.addJs('https://code.jquery.com/jquery-3.2.1.min.js', 100) %}
        {% do assets.addJs('theme://js/materialize.js', 99) %}
        {% do assets.addJs('theme://js/scripts.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

  </body>
</html>
